<% _.forEach(clusters, function(cluster) { %>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			<%- extractAttribute(_.first(cluster[1]), currentAttribute) %>
					<div class="pull-right">
			<button class="btn btn-default btn-xs btn-cluster" data-id="<%- cluster[0] %>"><span class="glyphicon glyphicon-magnet"></span> Cluster</button>
		</div>
		</div>
	</div>

	<div class="panel-body">
		<table class="table table-responsive table-stripped table-hover">
			<colgroup>
				<col style="width: 80px;">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th class="text-center">Tab ID</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
			<% _.forEach(cluster[1], function(tab) { %>
			<tr class="tab-row" data-tab-id="<%- tab.id %>">
				<td class="text-center">
					<%- tab.id %>
				</td>
				<td>
					<%- tab.title %>
				</td>
			</tr>
			<% }); %>
			</tbody>
		</table>
	</div>
</div>
<% }); %>